<div class="header">
    <div class="linner">
        <div class="logo">
            <a href="{{ path('home') }}">
                <img src="{{ asset('build/images/lo.png') }}" alt=""></a>
        </div>
        <ul>
            <li><a href="{{ path('home') }}">Acceuil</a></li>
            <li><a href="">Services d'Identification</a></li>
            <li><a href="{{ path('services') }}">web services</a></li>
            <li><a href="">gestion documentaire</a></li>
            <li><a href="{{ path('apropos') }}">Apropos</a></li>
            <li><a href="{{ path('contact') }}">contact</a></li>
        </ul>
    </div>
</div>