{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="header">
            <div class="linner">
                <div class="logo">
                    <a href="">
                        <img src="{{ asset('build/images/l.png') }}" alt=""></a>
                </div>
                <ul>
                    <li><a href="">Acceuil</a></li>
                    <li><a href="">Services d'Identification</a></li>
                    <li><a href="">web services</a></li>
                    <li><a href="">gestion documentaire</a></li>
                    <li><a href="">Apropos</a></li>
                    <li><a href="">contact</a></li>
                </ul>
            </div>
        </div>
        <section>
            <div class="bg__home  contact__xlf">
                <div class="center__about">
                    <h3>CONTACTEZ -NOUS</h3><br><br>
                    <p>BIZTECHNOLOGIES</p>

                </div>
            </div>
        </section>

        <section class="xld__real">
            <div class="item">
                <h3>Entrez en contact avec nous</h3>
            </div>
            <div class="item">
                <p>Veuillez trouver ci-dessous les coordonnées et contactez-nous dès aujourd’hui!</p>
            </div>
        </section>
        <section>
            <div class="center__contact">
                <div class="box__contact">
                    <div class="icon__contact__img">
                        <div class="images__icon">
                            <img src="{{ asset('build/images/loca.png') }}" alt="">
                        </div>

                    </div>
                    <div class="contact__text colox">Address</div>
                    <div class="contact__text ">Avenue du port, 17
                        Kinshasa, RD Congo</div>
                </div>
                <div class="box__contact">
                    <div class="icon__contact__img">
                        <div class="images__icon">
                            <img src="{{ asset('build/images/loca.png') }}" alt="">
                        </div>

                    </div>
                    <div class="contact__text colox">Phone</div>
                    <div class="contact__text">RDC : +243 823142422</div>
                </div>
                <div class="box__contact">
                    <div class="icon__contact__img">
                        <div class="images__icon">
                            <img src="{{ asset('build/images/loca.png') }}" alt="">
                        </div>

                    </div>
                    <div class="contact__text colox">E-mail</div>
                    <div class="contact__text">info@biztechnologies.biz</div>
                </div>
            </div>
        </section>

        <section>
            <div class="center__contact">
                <div class="box__contact">
                    <div class="icon__contact__img">
                        <div class="images__icon">
                            <img src="{{ asset('build/images/facebook.png') }}" alt="">
                        </div>

                    </div>

                    <div class="contact__text ">Facebook</div>
                </div>
                <div class="box__contact">
                    <div class="icon__contact__img">
                        <div class="images__icon">
                            <img src="{{ asset('build/images/twitter.png') }}" alt="">
                        </div>

                    </div>

                    <div class="contact__text">Twitter</div>
                </div>
                <div class="box__contact">
                    <div class="icon__contact__img">
                        <div class="images__icon">
                            <img src="{{ asset('build/images/youtube.png') }}" alt="">
                        </div>

                    </div>

                    <div class="contact__text">YouTube</div>
                </div>
                <div class="box__contact">
                    <div class="icon__contact__img">
                        <div class="images__icon">
                            <img src="{{ asset('build/images/linkedin.png') }}" alt="">
                        </div>

                    </div>

                    <div class="contact__text">LinkedIn</div>
                </div>

                <div class="box__contact">
                    <div class="icon__contact__img">
                        <div class="images__icon">
                            <img src="{{ asset('build/images/whatsapp.png') }}" alt="">
                        </div>

                    </div>
                    <div class="contact__text colox">E-mail</div>
                    <div class="contact__text">+243 992055103</div>
                </div>
            </div>
        </section>

        <section class="xld__real oxl">
            <div class="item lkd">
                <h3 class="alm__text">N’hésitez pas à nous joindre.</h3>
            </div>




        </section>
        <section class="carte">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3978.584689677356!2d15.309139999999998!3d-4.300541!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1a6a338b3dce3137%3A0xdc13219bc5bc68d2!2s17%20Ave%20Du%20Port%2C%20Kinshasa%2C%20R%C3%A9publique%20d%C3%A9mocratique%20du%20Congo!5e0!3m2!1sfr!2sus!4v1670856292334!5m2!1sfr!2sus" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </section>
        <section class="t__footer xld__footer">

        </section>
    </div>

{% endblock %}
