{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="wrapper">
        {% include'home/__header.html.twig' %}

        <section class="home">
        <div class="center__element">
            <h2>Nos Solutions</h2>
            <div class="box__services">

                <div class="box__card">
                    <div class="img__flex">
                        <img src="{{ asset('build/images/1.png') }}" alt="">
                        <div class="icon__more">+</div>
                    </div>
                    <h1>iIdentification & verification</h1>
                </div>
                <div class="box__card">
                    <div class="img__flex">
                        <img src="{{ asset('build/images/2.png') }}" alt="">
                        <div class="icon__more">+</div>
                    </div>

                    <h1>developpement App</h1>
                </div>
                <div class="box__card">
                    <div class="img__flex">
                        <img src="{{ asset('build/images/3.png') }}" alt="">
                        <div class="icon__more">+</div>
                    </div>
                    <h1>Gestion documentaire & Archivages</h1>
                </div>
                <div class="box__card">
                    <div class="img__flex">
                        <img src="{{ asset('build/images/4.png') }}" alt="">
                    </div>
                    <h1>developpement web</h1>
                </div>
            </div>

        </div>
        </section>

        <section>
            <div class="expert__element">
            <div class="left__element">
                <h1>Expertise</h1>
                <h2>SERVICES SPECIALISES</h2>
                <h3>Système d’iIdentification biométrique automatisé</h3>
                <p>Moteur de recherche multi-biométrique critique pour les projets d’iIdentification à grande échelle au niveau national qui permet l’iIdentification “en déplacement” d’une personne par le visage, les empreintes digitales et l’iris.</p>
            </div>

                <div class="right__element">
                    <div class="img__right__box">
                        <img src="{{ asset('build/images/pouce.jpg') }}" alt="">
                    </div>

                </div>
            </div>

        </section>
        <section>
            <div class="expert__element">
                <div class="left__element xld">
                <div class="img__element__xld">
                    <img src="{{ asset('build/images/m.png') }}" alt="">
                </div>
                </div>

                <div class="right__elementxld__text">
                    <div class="img__right__box">
                        <h6>Solutions professionnelles d’iIdentification</h6>
                        <p>Badges employés, bracelets et cartes d’iIdentification, cartes sécables, badges personnalisés…</p>

                        <p>Renforcer la sécurité et l’iIdentification des personnes ? BIZTECHNOLOGIES SARL vous propose un large panel de cartes pour vos impressions et un stock permanent de plus de 300 références..</p>
                    </div>

                </div>
            </div>

        </section>
        <section>
            <div class="clent__our">
                <div class="center__element">
                    <div class="box__client">
                        <div class="img__xlf">
                            <img src="{{ asset('build/images/client-2.png') }}" alt="">
                        </div>
                       <div class="card__bord">
                           <span>Identification et Authentification </span>
                           <span>Developpment SiteWeb</span>
                           <span>Developpment APP</span>
                       </div>

                    </div>
                    <div class="box__client">
                        <div class="img__xlf">
                            <img src="{{ asset('build/images/client-1.png') }}" alt="">
                        </div>
                        <div class="card__bord">
                            <span>Identification et Authentification </span>
                            <span>Developpment SiteWeb</span>
                            <span>Developpment APP</span>
                        </div>

                    </div>
                    <div class="box__client">
                        <div class="img__xlf">
                            <img src="{{ asset('build/images/client-3.png') }}" alt="">
                        </div>
                        <div class="card__bord">
                            <span>Identification et Authentification </span>
                            <span>Developpment SiteWeb</span>
                            <span>Developpment APP</span>
                        </div>

                    </div>
                    <div class="box__client">
                        <div class="img__xlf">
                            <img src="{{ asset('build/images/client-5.png') }}" alt="">
                        </div>

                        <div class="card__bord">
                            <span>Identification et Authentification </span>
                            <span>Developpment SiteWeb</span>
                            <span>Developpment APP</span>
                        </div>

                    </div>
                    <div class="box__client">

                        <div class="img__xlf">
                            <img src="{{ asset('build/images/ban.jpg') }}" alt="">
                        </div>
                        <div class="card__bord">
                            <span>Identification et Authentification </span>
                            <span>Developpment SiteWeb</span>
                            <span>Developpment APP</span>
                        </div>

                    </div>
                    <div class="box__client">
                        <div class="img__xlf">
                            <img src="{{ asset('build/images/client-5.png') }}" alt="">
                        </div>

                        <div class="card__bord">
                            <span>Identification et Authentification </span>
                            <span>Developpment SiteWeb</span>
                            <span>Developpment APP</span>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="partner">
                <div class="center__partner">
                    <div class="widget-container">
                        <h1>Partenaires</h1>
                        <p>BIZTECHNOLOGIES travaille  avec plusieurs partenaires afin de garantir à ses clients, l’intégrité et la consistance. Nous faisons un choix minutieux pour offrir à notre clientèle un service de qualité dans la rigueur et le professionnalisme le plus complet</p>

                    </div>
                    <div class="box__partner">
                        <div class="box__card__partner">
                            <img src="{{ asset('build/images/alarais.png') }}" alt="">
                        </div>
                        <div class="box__card__partner">
                            <img src="{{ asset('build/images/alarais.png') }}" alt="">
                        </div>
                        <div class="box__card__partner">
                            <img src="{{ asset('build/images/alarais.png') }}" alt="">
                        </div>
                        <div class="box__card__partner">
                            <img src="{{ asset('build/images/alarais.png') }}" alt="">
                        </div>
                        <div class="box__card__partner">
                            <img src="{{ asset('build/images/alarais.png') }}" alt="">
                        </div>
                        <div class="box__card__partner">
                            <img src="{{ asset('build/images/alarais.png') }}" alt="">
                        </div>
                        <div class="box__card__partner">
                            <img src="{{ asset('build/images/alarais.png') }}" alt="">
                        </div><div class="box__card__partner">
                            <img src="{{ asset('build/images/alarais.png') }}" alt="">
                        </div>

                    </div>

                </div>
            </div>
        </section>

    </div>

{% endblock %}
