{% extends 'base.html.twig' %}

{% block title %}biztechnologies{% endblock %}

{% block body %}
    <div class="wrapper">
        {% include'home/__header.html.twig' %}
        <section>
            <div class="bg__home xld__web">
                <div class="center__about">
                    <h3>WEB SERVICES</h3><br><br>
                    <p>BIZTECHNOLOGIES</p>

                </div>
            </div>
        </section>





        <section class="outer__service">
            <div class="center__outer">
                <div class="box__element__outer">
                    <div class="icon__eelement">
                        <img src="{{ asset('build/images/icon-1.png') }}" alt="">
                    </div>
                    <div class="boxy__element">
                        <h4>Investissement</h4>
                        <p>Il ne faut pas voir la réalisation d’un site Internet comme une dépense mais plutôt un investissement à court et moyen terme.</p>
                    </div>
                </div>
                <div class="box__element__outer">
                    <div class="icon__eelement">
                        <img src="{{ asset('build/images/icon-2.png') }}" alt="">
                    </div>
                    <div class="boxy__element">
                        <h4>Disponibilité</h4>
                        <p>Votre site Web restera en ligne 365 jours par année tandis qu’une publicité traditionnelle ne durera que quelques secondes ou au mieux quelques jours.</p>
                    </div>
                </div>
                <div class="box__element__outer">
                    <div class="icon__eelement">
                        <img src="{{ asset('build/images/icon-3.png') }}" alt="">
                    </div>
                    <div class="boxy__element">
                        <h4>Nouvelle Clientèle</h4>
                        <p>De plus en plus de consommateurs magasinent sur Internet avant de se présenter dans les lieux physiques de votre entreprise.</p>
                    </div>
                </div>
                <div class="box__element__outer">
                    <div class="icon__eelement">
                        <img src="{{ asset('build/images/icon-4.png') }}" alt="">
                    </div>
                    <div class="boxy__element">
                        <h4>Source d'informations</h4>
                        <p>Vous avez la possibilité de mettre autant d'information que vous le voulez sur votre site Internet.</p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="service__element">
                <div class="left__services">
                    <div class="buld__element">
                        <h6>Le SEO</h6>
                        <p>

                            Biztechnologies optimise votre visibilité dans les principaux moteurs de recherche tels que Google, Yahoo, Bing, etc.

                            Il s’agit de bien équilibrer l’utilisation des mots-clés dans votre contenu et d’utiliser un champ lexical riche et varié afin de satisfaire autant les moteurs de recherche que l’humain qui se cache derrière votre cible. Vous devez vous assurer de les placer stratégiquement. Mais où?<br><br>

                            Nul besoin de dire qu’il faut y apparaître, sinon vous sombrerez loin des premiers résultats de recherche et personne ne consultera votre site. Biztechnologies vous aide à y arriver
                        </p>
                    </div>

                </div>
                <div class="right__services">
                    <div class="img__right xld__img">
                        <img class="relative__2"src="{{ asset('build/images/seo.png') }}" alt="">
                    </div>
                </div>
            </div>
        </section>


        <section>
            <div class="service__element">
                <div class="left__services">

                    <div class="img__right xld__img">
                        <img class="relative__2"src="{{ asset('build/images/Maintenance.png') }}" alt="">
                    </div>


                </div>
                <div class="right__services">
                    <div class="buld__element">
                        <h6>La maintenance</h6>
                        <p>

                            La maintenance c’est une sorte d’assurance, d’une garantie de la bonne tenue de votre site web mais pas seulement ; c’est aussi garantir sa pérennité. Vous l’aurez compris, la maintenance d’un site internet s’inscrit dans une économie du risque, elle n’a rien d’obligatoire mais il vaut mieux y penser à deux fois.

                        </p>
                        <p>Biztechnologies assure la maintenance de votre site internet en lui garantissant une mise à jour régulière. Nous faisons en sorte que votre site soit toujours dans la tendance et ne soit pas dépassé par rapport à l’actualité</p>
                    </div>
                </div>
            </div>
        </section>


        <section>
            <div class="service__element">
                <div class="left__services">
                    <div class="buld__element">
                        <h6>Sécurité</h6>
                        <p>
                            Depuis l’histoire d’internet, les pirates informatiques ont fait du web leur terrain de jeu. Les hackeurs peuvent agir en bandes organisées pour récupérer des données importantes et en tirer de l’argent, mais sont parfois de simples apprentis hackeurs qui se lancent des challenges. Dans tous les cas, ils peuvent être redoutables et présenter un réel danger pour votre site.

                        </p>
                        <p>
                            Biztechnologies assure la sécurité de votre site iternet et l’optimise avec différentes techniques :

                        </p>
                    </div>

                </div>
                <div class="right__services">
                    <div class="img__right xld__img">
                        <img class="relative__2"src="{{ asset('build/images/security.png') }}" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="color__graphique">
            <div class="service__element">
                <div class="left__services">
                    <div class="buld__element xld__outer">
                        <h6 class="text__glx">Design graphique</h6>
                        <p>
                            Votre site est plus consulté s’il a un bon contenu mais pas que… Un site internet avec un bon design et un bon graphisme est plus attractif en plus d’un bon contenu. 
                        </p>

                        <p>
                            Nous assurons le coté front de votre site afin que celui-ci soit plus attractif et adapté à vos besoins. Faites de vos sites web un endroit plaisant pour l’utilisateur
                        </p>
                        <p>
                            Biztechnologies assure la sécurité de votre site iternet et l’optimise avec différentes techniques :
                        </p>
                    </div>

                </div>
                <div class="right__services">
                    <div class="img__right xld__img">
                        <img class="relative__2"src="{{ asset('build/images/gr.png') }}" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="xld__real">
            <div class="item">
                <h3>NOS REALISATIONS</h3>
            </div>
        </section>

        <section class="list__client">
            <div class="center__client">
                <div class="left__client">
                    <ul>
                        <li><span>&rsaquo;</span><a href="">Site Web de l'agence pour le développement et la promotion du Projet Grand</a></li>
                        <li><span>&rsaquo;</span><a href="">MOG RDC</a></li>
                        <li><span>&rsaquo;</span><a href=""> Weuschemie SARL</a></li>
                        <li><span>&rsaquo;</span><a href="">GDP CONSULTING CANADA</a></li>
                        <li><span>&rsaquo;</span><a href=""> Portail Web de l'Hotel de Ville de Kinshasa</a></li>
                        <li><span>&rsaquo;</span><a href=""> WESD CAPITAL RDC</a></li>
                    </ul>
                </div>

                <div class="left__client">
                    <ul>
                        <li><span>&rsaquo;</span><a href="">Site Web de l'agence pour le développement et la promotion du Projet Grand</a></li>
                        <li><span>&rsaquo;</span><a href="">MOG RDC</a></li>
                        <li><span>&rsaquo;</span><a href=""> Weuschemie SARL</a></li>
                        <li><span>&rsaquo;</span><a href="">GDP CONSULTING CANADA</a></li>
                        <li><span>&rsaquo;</span><a href=""> Portail Web de l'Hotel de Ville de Kinshasa</a></li>
                        <li><span>&rsaquo;</span><a href=""> WESD CAPITAL RDC</a></li>
                    </ul>
                </div>
            </div>


        </section>

        <section class="xld__real oxl">
            <div class="item lkd">
                <h3>NOS OFFRES DE CREATION DE SITE WEB DYNAMIQUES</h3>
            </div>
        </section>

        <section class="t__footer xld__footer">

        </section>






    </div>

{% endblock %}
